<% provide(:title, 'Sign up' ) %>
<div class="row">
      <div class="col-sm-6 col-sm-offset-2">
          <div id = "comments">
             <div id = "respond">
<%= simple_form_for @user, :html => {:class =>'form-horizontal'}  do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
<div class = "row">
     <div class="col-md-12 text-right">             
        <button type="submit" class="btn btn-action">Sign Up</button> 
       </div>
</div>
          </div>
      </div>
   </div>
</div>
<% end %></br>