 <div class="col-md-9">
        <article class="col-xs-12 maincontent">
  <div class="col-md-9 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                  <!-- <form> -->
                <p class="text-left text-muted"> <%= link_to 'Login', signin_path %> to your account if you are a customer. </p>
                <%= simple_form_for @user, :html => {:class =>'form-horizontal'}  do |f| %>
                <%= f.input :name, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Name" %>
                <%= f.input :email, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Email" %>
                <%= f.input :password, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Password" %>
                <%= f.input :password_conformation, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Password Conformation" %>
                   <!-- <form> -->
                      <input type="checkbox">
                      I've read the <a href="page_terms.html">Terms and Conditions</a>
                  <div class="col-lg-9 text-right">
                    <button class="btn-sm btn-action" type="submit">Register</button>
                  </div>
              <!-- </form> -->
              <% end %>
              <br>
  </div>
  </article>
  </div>
