<% provide(:title, @user.name) %>
	<div class="topspace text-center">
		<h5><%= @user.email %></h5>
		<h6><%= @user.name %></h6>
		<%= current_user.orders.count %><br>
		<% @orders.each do |order| %>
		<%= order.id %><br>
		<% order.products.each do |product| %>
		<%= product.title %><br>
		<% end %>
		<% end %>

	</div>