	<% if @products.any? %>
		<% @products.each do |product| %>
			<li class="col-sm-9 col-sm-offset-1">
				<h5 class="col-sm-9"><%= product.title %></h5>
				<h6 class="col-sm-8"><%= sanitize product.description %></h6>
				<div class="pull-right"><%= image_tag(product.image_url, class: "img") %></div>
				<h6 class="col-sm-9"><%= number_to_currency(product.price, locale: :fi) %></h6>
				<span class="cover"><span class="add"><%= link_to 'Add to Basket' ,line_items_path(:product_id => product), :method => :post, :remote => true %></span><span class="detail"><%= link_to 'More Deatils' ,line_items_path(:product_id => product), :method => :post, :remote => true %></span></span>
			</li>
		<% end %>
	<% end %>
