<%= simple_form_for @customer , :html=>{:class=>"form-horizontal"} do |f| %>
        <%#= @customer.errors.full_messages.to_sentence  %>
        <%= f.input :first_name, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "First Name" %>
        <%= f.input :last_name, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Last Name" %>
        <%= f.input :email, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Email" %>
        <%= f.input :pay_type, :collection => [ "Check" , "Credit card" , "Purchase order" ], :prompt => "Choose one", :input_html => {:class => "form-control input-sm"}, :label=> false  %>
        <%= f.input :address_1, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Address Line 1" %>
        <%= f.input :address_2, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Address Line 2" %>
        <%= f.input :birthday, :input_html => {:class => "form-control input-sm"}, :label => false, :placeholder => "Birthday", :as => :string %>             <%#= f.simple_fields_for :orders, Order.new do |o| %>
                <%#= o.input :pay_type %>
            <%# end %>
 <div class = "row">
     <div class="col-md-9 text-right">
        <button type="submit" class="btn-sm btn-action">Submit</button>
       </div>
</div>
<% end %>

