<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @customer.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @customer.address_2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @customer.birthday %>
</p>

<p>
  <strong>Customer num:</strong>
  <%= @customer.customer_num %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @customer.pay_type %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
