<header id="header">
	<nav class="navbar-two navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="navbar-left">
					<%= link_to 'Home', root_path %></li>
					<li class="navbar-left dropdown"><%= link_to 'Category<b class="caret"></b>'.html_safe, list_path, :class => "dropdown-toggle", :data => {:toggle => "dropdown"}  %>
				<ul class="dropdown-menu">
					<% @categories.each do |category| %>
					<li><%= link_to "#{category.name}",:controller => 'static_pages',:action => 'list', :id => category.id, :class => "caret" %></li>
					<% end %>
				</ul></li>
					<li class ="navbar-left"><%= link_to 'About', about_path %></li>
					<li id="item" class ="navbar-right dropdown"><%= render 'shared/item_bar' %></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</header>