<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  'application',"http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700","http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css","http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  
  </head>
<body class="home">
    <div id = "j-header"> 
    <%= render 'layouts/header' %>
    </div>
  <!-- To show flash messages  -->
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>                       
            <%= msg %>
      </div>
    <% end %>
  
<main id="main">

	<div class="container">

		<%= render 'layouts/topspace' %>
		<%#= render 'layouts/topspace_left' %>
    <%# if @cart %>
    <%#= hidden_div_if(@cart.line_items.empty?, :id => "cart" ) do %>
      <%#= render @cart %>
    <%#end %>
    <%# end %>  
    <%= yield %>
		 <!--  <%#= render 'layouts/featured_topspace' %>
		  <%#= render 'layouts/recentworks_topspace' %>
		  <%#= render 'layouts/section_topspace' %>
		  <%#= render 'layouts/clients_topspace' %> -->
      
      
	</div>	<!-- /container -->

</main>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/underfooter' %>
      <!-- Debuging  -->
      <%= debug(params) if Rails.env.development? %>


      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
